doctype 5
html
    include header
    script(src='/js/manage.js')
    body
        div(class="container")
            form(style="width:300px")
                fieldset
                    legend="Add new joke"
                    input(id="posttitle" type="text" class="input-large" placeholder="Title")
                    textarea(id="postbody" rows="5" style="width:300px" placeholder="Write joke here...")
                    button(id="savebtn" type="button" class="btn btn-primary")="Save"
        div(class="container" id="postslist")
